<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <style>
        .preview-image {
            max-width: 300px;
            max-height: 300px;
            border: 2px solid #ccc;
            border-radius: 10px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <h1>Upload Images</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg,image/png" />
        <input type="submit" value="Upload" />
    </form>
    <div>
        <h2>Images</h2>
        <% files.forEach(file=> { %>
            <img src="../uploads/<%= file %>" alt="<%= file %>" class="preview-image"
                title="<%= file.split('-')[1] %>" />
            <% }); %>
    </div>
</body>

</html>